*{
    box-sizing: border-box;
}
.top{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    padding: 0 6% 0 6%;
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.top img{
    width: 75px;
    height: 53px;
}
.top ion-icon{
    width: 45px;
    height: 45px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    margin: 80px 0 80px 0;
    padding: 25px 0 4px 0;
    align-items: flex-start;
    row-gap: 4px;
    background-color: #F3F3F3;
}
.generalmessage{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    line-height: 10px;
    padding: 13px 10px 13px 10px;
    border-radius: 2px;
}
.message{
    background-color: #FFFFFF;
}
.status{
    background-color: #DCDCDC;
}
.private_message{
    background-color: #FFDEDE;
}
.generalmessage p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}
.time{
    font-weight: lighter;
    color: #AAAAAA;
}
.generalmessage em{
    font-weight: bold;
}
.bottombar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 80px;
    width: 100vw;
    padding: 0 18px 0 18px;
    background-color: #FFFFFF;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
}
.bottombar ion-icon{
    width: 26px;
    height: 26px;
}
.bottombar input{
    width: 85vw;
    height: 30px;
    border: none;
    background-color: #FFFFFF;
}
::placeholder{
    color: black;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.blackbackground{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    height: 100%;
    width: 70vw;
    background-color: #FFFFFF;
    overflow-y:scroll;
}
.sidebar > div > p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.textcontacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    height: 84px;
    width: 100%;
}
.contacts{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contacts div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-left: 20px;
}
.contacts ion-icon{
    margin-right: 5px;
    width: 22px;
    height: 22px;
}
.titlevisibilities{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
}
.visibilities{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
}
.visibilities div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-left: 20px;
}
.visibilities ion-icon{
    margin-right: 5px;
    width: 22px;
    height: 22px;
}
.checkmark{
    margin-right: 40px;
    color: #28BB25;
}
.hidden{
    visibility: hidden;
}